@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width: 450px) {
    body{
        background-color: #18181b;
    }
    .sign1{
        width: 335px;
        height: 290px;
    }
    .item{
        width: 335px;
        height: 290px;
    }
    .post{
    
        width: 325px;
        height: fit-content;
        
    }
    .profile{
    
        width: 320px;
        height: fit-content;
        
    }
    .addition{
    
        width: 300px;
        height: 200px;
        
    }
  }

@media screen and (min-width: 450px) and (max-width: 700px) {
    body{
        background-color: #18181b;
    }
    .sign1{
        width: 450px;
        height: 260px;
    }
    .item{
        width: 450px;
        height: 260px;
    }
    .post{
    
        width: 350px;
        height: fit-content;
        
    }
    .profile{
    
        width: 450px;
        height: fit-content;
        
    }
    .addition{
    
        width: 450px;
        height: 300px;
        
    }
  }
